{% extends "index.html" %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Mis publicaciones</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'contenidos:index' %}">Inicio</a></li>
                    <li class="breadcrumb-item active">Mis publicaciones</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Content Header (Page header) -->

<section class="content">
    <div class="container-fluid">
        <!-- Small Box (Stat card) -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                
                <h2 >Eliminar Anuncio</h2>
                <form method="post">{% csrf_token %}
        
                    <div class="col-lg-12 mb">
                        <label>Si elimina este documento, no podra volver a recuperarlo.</label>
                    </div>
        
                    
                    <div class="float-right">
                        <button type="submit" class="btn btn-success">
                            Confirmar</button>
                    </div>
                    
                </form>
                    <!-- ./col -->
                </div>
                <!-- /.row -->

            </div><!-- /.container-fluid -->
        </section>
        <!-- /.row -->
    </div>
</section>


<!-- /.content -->

{% endblock %}